{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@db": ["./src/generated/prisma/client"]
    },
    "target": "es2023"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": ["node_modules", "dist", ".+\\.spec\\.ts$"]
}
